*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}
html{
    scroll-padding-top: 80px;
}
#home{
height: 700px;
background: url("../img/bg.png");

}
.navbar{
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    z-index: 1;
}
.navbar-nav li a , .navbar-brand{
    color: #ffffff !important ;
}
.header{
    position: relative;
    color: white;
    top:200px;
}
.header h1{
    font-size: 100px;
}
.buttons-header{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 5rem;

}
.button-main{
    color: aliceblue;
    font-size: 20px;
    padding: 10px;
    background: none;
    border: solid white 2px;
    border-radius: 25px;
}
.button-main:hover{
    background-color: aliceblue;
    color: #09051e;
}
#about{
    background-color: #000000;
    padding: 80px;
    
}
.acf-img{
    width: 200px;
    padding-bottom: 20px;
}
.about-header{
    font-size: 50px;
    color: #ffffff;
}
.about-text{
    font-size: 20px;
    color: #d8d8d8;
}