*{
    scroll-behavior: smooth;
}

/* Button */

:root {
    --x : 45deg;
}

a{
    text-decoration: none;
}
.button-2{
    position: relative;
    width: 150px;
    height: 55px;
    display: inline-block;
    border-radius: 5px;
}

.button-2 .button-i {
    position: absolute;
    inset: -2px;
    display: block;
    border-radius: 5px;
}

.button-2 .button-i,
.button-2 .button-i:nth-child(2) {
    background: linear-gradient(var(--x), #00ccff,#0e1538,#0e1538,#d400d4);
}
.button-2 .button-i:nth-child(2) {
    filter: blur(10px);
}

.button-2 .button-s {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #fff;
    background: rgba(14, 21, 56, 0.65);
    letter-spacing: 1px;
    border: 1px solid #040a29;
    border-radius: 3px;
    overflow: hidden;
    align-items: center;
}
.button-2 .button-s::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.075);
    transform: skew(25deg);
}

  #particles-js, #particles-js-contact, #particles-js-comp {
    opacity: 40%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure it’s behind the content */
  }

 .content {
    position: relative;
    z-index: 2; /* Ensure it’s above the particles */
    padding: 20px;
  }
  
html{
    scroll-padding-top: 80px;
    background-color: #000000;
}

#home{
height: 700px;
background: url("../img/bg.jpg")no-repeat;
background-position: center center;
background-size:cover;
}
.navbar{
   
    -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(12px);
    width: 90%;
    position: fixed;
    z-index: 3;
    margin-top: 20px;
    border-radius: 35px;
    box-shadow:5px 5px 30px #000000;
    padding: 10px;
    animation: nav-load 800ms ease-out;
    border: solid 1px rgba(255, 255, 255, 0.239);
}
@keyframes nav-load{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
.nav{
    display: flex;
    justify-content: center;
}
.navbar-nav li a , .navbar-brand{
    color: #ffffff !important ;
    font-weight: 700;
    font-size: 20px;
    animation: li-load 5s ;
}
.nav-item{
    padding-right: 20px;
}
.nav-img{
    width: 120px;
    height:55px;
}
.navbar-toggler{
    color: #ffffff;
}
.fa-solid{
    color: #ffffff;
}

#navbarNavDropdown{
    max-height: 100% !important;
}
.header{
    position: relative;
    top:200px;

}

.buttons-header{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 5rem;

}
.button-main{
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px;
    background: none;
    border: solid white 2px;
    border-radius: 25px;
    font-optical-sizing: auto;
    font-style: normal;
    width: 200px;
}
.button-1-link{
    text-decoration: none;
    color: #ffffff;
}
.button-1{
    background-color: #ffffff;
    color: #000;
}
.button-main:hover{
    background-color: rgb(252, 252, 252);
    color: #09051e;
}
.main-text{
    width: 70%;
    position: relative;
    top: -30px;
}
#about , #contact {
    background: #050d1b;
    background-size: cover;
    padding: 80px;
    padding-top: 50px;
    position: relative;

}

#competitions{
    background:#050d1b;
    padding: 80px;
    padding-top: 120px;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
#Competition-sub{
    background: #050d1b;
    padding: 150px;
    padding-top: 100px;
    background-size: cover;
    padding: 120px;
    position: relative;
    overflow: hidden;
}

.about-header{
width: 60%;
height: auto;
}
.about-text{
    font-size: 20px;
    color: #d6d6d6;
    padding: 100px;
    padding-top: 0px;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: justify;
}
.contact-heading{
    color: #ffffff;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
}
.contact-text{
    font-size: 20px;
    color: #d8d8d8;
    font-optical-sizing: auto;
    font-style: normal;
}
.contact-detail{
    padding-top: 70px;
    padding-bottom: 70px;
}
.contact-card{
    padding: 25px;
    margin: 20px;
    color: #ffffff;
    border:solid 1px rgba(255, 255, 255, 0.239) ;
    border-radius: 40px;
}
.Contact-name{
    font-size: 25px;
    font-weight: 700;
}
.Contact-number a{
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
}
.card-heading{
    font-weight: 600;
}
.social-media{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.icon{
    width: 60px;
    height: 60px;
    margin: 10px;
    background-color: none;
    border: solid white 2px;
    color: #ffffff;
    border-radius: 50%;
    font-size: 20px;
    padding-top: 12px;
}

.icon:hover{
    background-color: white;
    border: none;
    color: #050d1b;
}
.footer{
    background-color:  #050d1b;
    color: #ffffff;
    padding: 50px;
    font-optical-sizing: auto;
    font-style: normal;
}
.footer .row{
    margin: 0px !important;
}
.footer-acf{
    width: 100px;
    height: auto;
}
.footer-head{
    display: flex;
    padding-bottom: 30px;
}
.link-col{
    padding-left: 30px;
}
.footer-links{
    list-style: none;
    padding: 0px;
}
.footer-link a{
    text-decoration: none;
    color: #ffffff;
}
.footer-logo{
    width: 300px;
    height: auto;
}
.competition-title{
    color: #ffffff;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
}
.competition-card-row{
    margin-top: 50px;
}
#competitions .card{
    background-color: rgba(145, 145, 145, 0.1);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    border: solid 1px rgba(255, 255, 255, 0.352);;
    color: #ffffff;
    padding: 0px;
    margin: 30px;
    height: fit-content;

}
.card-titile h3{
    font-style: normal;
    font-weight: 700;
}
.card-description{
    font-optical-sizing: auto;
    font-style: normal;
}
.card-img{
 width: 100%;
 height: 300px;
 object-fit: cover;
 margin-bottom: 20px;
scale: 1.0;

}
#competitions .card:hover{
    scale: 1.04;
    transition: 0.5s;
}
.card-description{
    margin: 30px;
}
.card-button{
    width: 100px;
    height: 45px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    background: none;
    border: solid 2px white;
    border-radius: 10px;
    color: #ffffff;
    font-size: 15px;
}
.card-button:hover{
    background:#ffffff;
    color: #000000;
}
.competition-name{
    color: #ffffff;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
}
.titles{
    color: #d8d8d8;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;
}
.titile-text{
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 18px;
}

@media (max-width:700px) {
    #home , #about , #contact , #competitions , #Competition-sub{
        padding: 10px;
        padding-top: 100px;
    }
    .about-header , .contact-heading , .competition-title{
        font-size: 50px;
    }
    .about-text{
        padding: 10px;
    }
    .button-main{
        font-size: 15px;
        width: 150px;
    }
    .main-text{
        width: 100%;
        position: relative;
        top: -30px;
    }
    .Contact-name{
        font-size: 20px;
        font-weight: 600;
    }
    .Contact-number a{
        color: #ffffff;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
    }

}
@media (max-width:500px){
    .card-heading{
        font-size:15px;
    }
    .card-details{
        font-size: 10px;
    }
    .Contact-name{
        font-size: 15px;
        font-weight: 600;
    }
    .Contact-number a{
        color: #ffffff;
        text-decoration: none;
        font-size: 15px;
        font-weight: 600;
    }
    .about-header{
        width: 90%;
    }
    .about-text{
        font-size: 15px;   
}
    .buttons-header{
        display:grid;
        gap: 1rem;
    }
    .contact-heading{
        font-size: 30px;
    }
    .contact-text{
        font-size: 15px;
    }
    .social-media{
        gap: 0rem;
    }
    .contact-card{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .footer-logo{
        width: 200px;
        height: auto;
    }
    .footer-acf{
        width: 75px;
        height: auto;
    }
    .contact-card{
        padding: 25px;
        margin-bottom: 20px;
        color: #ffffff;
        border:solid 1px rgba(255, 255, 255, 0.239) ;
        border-radius: 40px;
        width: 100%;
    }
}
@media (max-width:300px){
    .footer-head{
        display: grid;
    }
    .rights{
        font-size: 15px;
    }

}
@media (max-width:400px){
    .footer-logo{
        width: 150px;
        height: auto;
    }
    .footer-acf{
        width: 50px;
        height: auto;
    }
}
@media (max-width:992px){
    .contact-card{
        width: 80%;
    }
}